@import "bootstrap";

/* header */

header{
  margin-bottom: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A0A0A0;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  text-decoration: none;
}